.shop-holder {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.shop-link {
	display: block;
   margin: 10px;
}

.shop-view {
	width: 200px;
	height: 100%;
	background-position: center;
	background-size: cover;
	color: white;
	border-radius: 10px;
	overflow: hidden;

	.title {
		text-align: center;
		background-image: linear-gradient(to bottom, black, transparent);
		height: 100%;
		padding: 10px;
	}
}

@media all and (max-width: 500px) {
	.shop-link {
		width: 100%;

		.shop-view {
			width: 100%;
		}
	}
}
